[submodule "src/fi/hg/core"]
	branch = main
	path = src/fi/hg/core
	url = https://github.com/heusalagroup/fi.hg.core.git
[submodule "src/fi/hg/create"]
	path = src/fi/hg/create
	url = https://github.com/heusalagroup/fi.hg.create.git
[submodule "/Users/jhh/git/heusalagroup/create-command/test-command/src/fi/hg/core"]
	path = /Users/jhh/git/heusalagroup/create-command/test-command/src/fi/hg/core
	url = git@github.com:heusalagroup/fi.hg.core.git
